<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="AutomatedValetParking.Entities"/>
    <assembly name="AutomatedValetParking.App"/>
    <assembly name="AutomatedValetParking.Services"/>
    <container>
      <register type="AutomatedValetParking.Entities.IParkingLot" mapTo="AutomatedValetParking.Entities.ParkingLot" />
      <register type="AutomatedValetParking.Entities.IParkingSpace" mapTo="AutomatedValetParking.Entities.ParkingSpace" />
      <register type="AutomatedValetParking.Services.IManager.IParkingLotFactory" mapTo="AutomatedValetParking.Services.Manager.ParkingLotFactory" />
      <register type="AutomatedValetParking.Services.IManager.IParkingLotManager" mapTo="AutomatedValetParking.Services.Manager.ParkingLotManager"/>
    </container>
  </unity>

  <appSettings>
    <add key="ParkingRows" value="4"/>
    <add key="ParkingColumns" value="4"/>
    <add key="ReservedParkingRows" value="2,3"/>
  </appSettings>
</configuration>